# Ignore everything
/*

# Except these files/folders
!.gitignore
!.github/
!\[7R\]COOP_Borderline.tem_summa/
!\[7R\]COOP_Strategy.Stratis/
!\[7R\]COOP_Pushback.pulau/
!\[7R\]PVP_Drought.fata/
!\[7R\]COOP_Metal_Dust.takistan/
!\[7R\]COOP_Destruction.IslaDuala3/
!\[7R\]COOP_KingoftheHill.Malden/
!\[7R\]COOP_Rumble.Tanoa/
!\[7R\]COOP_Perseus.vt7/
!\[7R\]COOP_Perseus_part_2.vt7/
!\[7R\]COOP_Nemesis.cup_chernarus_A3/
!\[7R\]COOP_Freedom.pulau/
!\[7R\]Scotland_Forever.rof_mok/
!\[7R\]Ruby_Break.tem_anizay/
