# Ignore everything
/*

# Except these files/folders
!.gitignore
!\[7R\]COOP_Borderline.tem_summa/
!\[7R\]COOP_Strategy.Stratis/
!\[7R\]COOP_Pushback.pulau/
!\[7R\]PVP_Drought.fata/
!\[7R\]COOP_Metal_Dust.takistan/
